* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  background-image: url(images/bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  min-height: 100vh;
  justify-content: center;
}

.container {
  max-width: 800px;
  min-height: fit-content;
  background-color: rgb(230, 200, 185);
  opacity: 0.8;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  display: grid;
}

.container p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
  isolation: isolate;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  isolation: isolate;
}

button:hover {
  transform: scale(1.2);
}

img {
  margin: 10px;
}

/* responsive 3 column footer */
/* footer {
  background-color: rgb(230, 200, 185);
  padding: 1em;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.footer-content {
  text-align: left;
}

.footer-content h4 {
  text-transform: uppercase;
}

.share-buttons ul {
  list-style: none;
  display: flex;
}

.share-buttons li {
  display: inline-block;
  padding: 0 5px;
  margin-top: -60px;
  opacity: 0.5;
}

.share-buttons li:hover {
  opacity: 1;
} */

@media (max-width: 900px) {
  .container {
    max-width: 700px;
    min-height: fit-content;
    background-color: rgb(230, 200, 185);
    opacity: 0.8;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    display: grid;
  }
  
  .container p {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    isolation: isolate;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    isolation: isolate;
  }
  
  button:hover {
    transform: scale(1.2);
  }
  
  img {
    margin: 10px;
  }
}

  /* footer {
    background-color: rgb(230, 200, 185);
    padding: 1em;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    font-size: small;
  }

  .footer-content {
    text-align: left;
  }
  .share-buttons ul {
    list-style: none;
    display: flex;
  }

  .share-buttons li {
    display: inline-block;
    padding: 0 5px;
    margin-top: -50px;
    opacity: 0.5;
  }

  .share-buttons li:hover {
    opacity: 1;
  }
} */

@media(max-width: 600px) {
  .container {
    max-width: 400px;
    min-height: fit-content;
    background-color: rgb(230, 200, 185);
    opacity: 0.8;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    display: grid;
  }
  
  .container p {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding: 25px;
    isolation: isolate;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    isolation: isolate;
  }
  
  button:hover {
    transform: scale(1.2);
  }
  
  img {
    margin: 10px;
    width: 40px;
  }
}

@media(max-width: 400px) {
  .container {
    max-width: 300px;
    min-height: fit-content;
    background-color: rgb(230, 200, 185);
    opacity: 0.8;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    display: grid;
  }
  
  .container p {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding: 25px;
    isolation: isolate;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    isolation: isolate;
  }
  
  button:hover {
    transform: scale(1.2);
  }
}
