@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(33, 33, 33);
  background-image: url(images/bg-image-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  min-height: 100vh;
  justify-content: center;
}

.container {
  max-width: 800px;
  min-height: fit-content;
  background-color: #D6D5D8;
  opacity: 0.8;
  padding: 20px;
  margin: auto;
  border-radius: 30px;
  display: grid;
}

.container p {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  isolation: isolate;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  isolation: isolate;
}

button:hover {
  transform: scale(1.2);
}

img {
  margin: 10px;
}

@media (max-width: 900px) {
  .container {
    max-width: 600px;
    min-height: fit-content;
    background-color: #D6D5D8;
    opacity: 0.8;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    display: grid;
  }
  
  .container p {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    isolation: isolate;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    isolation: isolate;
  }
  
  button:hover {
    transform: scale(1.2);
  }
  
  img {
    margin: 10px;
  }
}

@media(max-width: 600px) {
  .container {
    max-width: 400px;
    min-height: fit-content;
    background-color: #D6D5D8;
    opacity: 0.8;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    display: grid;
  }
  
  .container p {
    font-size: 22px;
    text-align: center;
    padding: 20px;
    isolation: isolate;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    isolation: isolate;
  }
  
  button:hover {
    transform: scale(1.2);
  }
  
  img {
    margin: 10px;
    width: 40px;
  }
}

@media(max-width: 400px) {
  .container {
    max-width: 300px;
    min-height: fit-content;
    background-color: #D6D5D8;
    opacity: 0.8;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    display: grid;
  }
  
  .container p {
    font-size: 22px;
    text-align: center;
    padding: 20px;
    isolation: isolate;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    isolation: isolate;
  }
  
  button:hover {
    transform: scale(1.2);
  }
}
